*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
button{
    margin: 40px;
    background-color: lightsalmon;
    border-radius: 10px;
    text-align: center;
    font-weight: 400;
    padding: 20px;
}
@media screen and (width<=600px) {
    button{
        display: none;
    }
}